/*table{
  width: 600px;
  padding: 10px;
  border: 1px solid grey;
}

th{
  text-align: left;
}

input{
  padding: 4px 8px; 
}

#dia{
  width: 30px;
}
#mes{
  width: 30px;
}
#ano{
  width: 45px;
}

#ddd{
  width: 40px;
}
#phone{
  width: 100px;
}
#ramal{
  width: 30px;
}

.right{
  text-align: right;
}
.button{
   padding: 4px 8px; 
}*/